@model List<Intern>
@{
	ViewBag.Title = "Interns List";
}

<div>
	<a href='/intern' class='btn btn-primary'><span class='glyphicon glyphicon-plus'></span> Add Intern</a>
</div>

<div class="table-responsive">
	<table class='table table-condensed table-striped table-hover'>
		<thead>
			<tr>
				<th>Id</th>
				<th>FirstName</th>
				<th>LastName</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var m in Model)
			{
				<tr>
					<td><a href='/intern/@m.Id'>@m.Id</a></td>
					<td>@m.FirstName</td>
					<td>@m.LastName</td>
				</tr>
			}
		</tbody>
	</table>
</div>
