<!doctype html>
<html lang="en-us">
<head>
    <title>Myep</title>
</head>
<body>
	<h1>@ViewBag.Title</h1>

	<ul>
		<li><a href='/interns'>Interns</a></li>
		<li><a href='/employers'>Employers</a></li>
	</ul>

	@RenderBody()
</body>
</html>
