@inherits ViewPage<Employer>
@{
	ViewBag.Title = "Edit Employer";
}

<form method='post' role='form' class='form-horizontal'>
	<div class='form-group'>
		<label class='col-lg-2 control-label'>Id</label>
		<div class='col-lg-10'><span class='form-control'>@Model.Id</span></div>
	</div>
	<div class='form-group'>
		<label for='CompanyName' class='col-lg-2 control-label'>Company Name</label>
		<div class='col-lg-10'>@Html.TextBox("CompanyName", Model.CompanyName, new { @class = "form-control", placeholder = "Company Name" })</div>
	</div>
	<div class='form-group'>
		<div class='col-lg-offset-2 col-lg-10'>
			<button type='submit' class='btn btn-primary'><span class='glyphicon glyphicon-floppy-disk'></span> Save Employer</button>
			<button type='button' onclick='window.location="/employers"' class='btn btn-default'><span class='glyphicon glyphicon-list'></span> Back to List</button>
		</div>
	</div>
</form>
